<a href="https://colab.research.google.com/github/SnowLeopardt/PROGRAMACION-III-USSS030722/blob/main/CODIGOS_PROGAMACION_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TIPOS DE DATOS

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

Los valores: Num 1:  5  Num 2:  4.9
Valor: Num 1:  5

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

Variable Booleana:  False

In [ ]:
nombre = "Henry Cortez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

Mi Nombre:  Henry Cortez Iniciales:  H   Longitud:  12
Primer Nombre:  Henry
Primer Nombre:  Henry
Apellido:   Cortez
Apellid:   Cortez
Apellido:  ry Cortez

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

Num 1: 1
Num 2: 2
La suma es:  3.0

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Num 1: 1
N4.26um 2: 2
3.0

**FUNCIONES DE USUARIO**

* Convertir grados celsius a farenheit.

In [ ]:
def convertir_cf(c):
  return 32 + c*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 1
F:  33.8

**EJERCICIOS**
* Convertir de Farenheit a Celsius
* Convertir de [Celsius, Farenheit] a Kelvin

* CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 1
Sueldo:  120.0 ISR:  0.0 108.89999999999999

**FUNCIONES LAMBDA**
* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[3, 4, 5]

In [ ]:
resp = functools.reduce(lambda a,n:a+n,data)
print(resp)

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

**LISTAS** => **Array**

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

**DICCIONARIOS** => **JSON**

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

**LISTAS**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

[2, 6, 8]

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

[5, 9]

**CICLOS**
* FOR

In [ ]:
for item in data:
  print(item)

* WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

**TABLA DE MULTIPLICAR**

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

Edad: 5
Soy un niño

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

EL numero mayor de la lista:  [5, 8, 9, 15, 7, 9, 2, 3, 2, 1] es:  15

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

15

**Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("SUPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Nota: 10
HONORABLE

**Escriba un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

1. **Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario**
2. **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.**
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

In [ ]:
def convertir_a_romano(numero):
    valores = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
    simbolos = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]
    numero_romano = ""

    for i in range(len(valores)):
        while numero >= valores[i]:
            numero -= valores[i]
            numero_romano += simbolos[i]

    return numero_romano

def main():
    try:
        numero = int(input("Introduce un número: "))
        if 1 <= numero <= 3999:
            numero_romano = convertir_a_romano(numero)
            print(f"El número romano equivalente es: {numero_romano}")
        else:
            print("Por favor, introduce un número entre 1 y 3999.")
    except ValueError:
        print("Por favor, introduce un número válido.")

if __name__ == "__main__":
    main()

Introduce un número: 20
El número romano equivalente es: XX

**PROGRAMACION ORIENTADA A OBJETOS.**

* CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

* INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

* OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

La suma de 5 + 3 =  8

**PARCIAL I DE PROGRMACION
 NOMBRE: HENRY ANDERSON SANCHEZ CORTEZ USSS030722
 Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla, El monto de la actividad económica debe ser introducido por el usuario**

In [ ]:
actividad = float(input("Monto de Actividad Economica: "))

if (actividad >= 0.01 and actividad <=500):#Numero 1
  precio = 1.5
  adicional = 0
  op1 = actividad - 0.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 500.01 and actividad <=1000):#Numero 2
  precio = 1.5
  adicional = 3
  op1 = actividad - 500.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 1000.01 and actividad <=2000): #Numero 3
  precio = 3
  adicional = 3
  op1 = actividad - 1000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 2000.01 and actividad <=3000): #Numero 4
  precio = 6
  adicional = 3
  op1 = actividad - 2000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 3000.01 and actividad <=6000): #Numero 5
  precio = 9
  adicional = 2
  op1 = actividad - 3000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 8000.01 and actividad <=18000): #Numero 6
  precio = 15
  adicional = 2
  op1 = actividad - 8000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 18000.01 and actividad <=30000): #Numero 7
  precio = 39
  adicional = 2
  op1 = actividad - 18000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 30000.01 and actividad <=60000): #Numero 8
  precio = 63
  adicional = 1
  op1 = actividad - 30000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 60000.01 and actividad <=100000): #Numero 9
  precio = 93
  adicional = 0.8
  op1 = actividad - 60000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 100000.01 and actividad <=200000): #Numero 10
  precio = 125
  adicional = 0.7
  op1 = actividad - 100000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 200000.01 and actividad <=300000): #Numero 11
  precio = 195
  adicional = 0.6
  op1 = actividad - 200000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 300000.01 and actividad <=400000): #Numero 12
  precio = 255
  adicional = 0.45
  op1 = actividad - 300000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 400000.01 and actividad <=500000): #Numero 13
  precio = 300
  adicional = 0.4
  op1 = actividad - 400000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 500000.01 and actividad <=1000000): #Numero 14
  precio = 340
  adicional = 0.30
  op1 = actividad - 500000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

elif (actividad >= 1000000.01 and actividad <=99999999): #Numero 15
  precio = 490
  adicional = 0.18
  op1 = actividad - 1000000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("el valor de pagar es: ",str(opfinal))

Ingrese su actividad economica: 40000
Su valor a pagar es:  72.99999